<h3>Product Details</h3>
<button (click)="onClick()">Go To the Product List</button>
<section ngClass="product-details-card" *ngIf="product">
    <h2>{{ product.title }} | {{ product.price | currency: 'INR' }}/-</h2>
    <p> {{product.description}} </p>
    <!-- <img width="25%" src="{{product.images[0]}}" alt={{product.name}} /> -->
    <span *ngFor="let image of product.images">
        <img width="20%" src="{{image}}" alt={{product.name}} />
    </span>
</section>

<section>
    <p>Add a Product</p>
    <form>

    </form>
</section>