<div style="background-image: 
url('https://rapidcorpindia.com/content/uploads/2019/01/Deloitte_Interiors_02.jpg');
background-repeat: no-repeat; background-size: cover; height: auto; max-width: 100%;">
    <div style="min-height: 100vh; 
    text-shadow: 2px 2px #cccccc; 
    text-align: left;">
        <h1>DeloitteKart</h1>
        <a href="#">Start shopping...</a>
    </div>
</div>


<!-- <h1>Home Component</h1>
<p>Home component works!</p>

<div>
    <div *ngIf="true"> {{employees[0]}} </div>
    <p>Employees:</p>
    <ul>
        <li *ngFor="let emp of employees"> {{emp}} </li>
    </ul>
</div> -->


<!-- 
<h3>Pipes in Angular</h3>
<p>Name: {{firstName }}</p>
<p>Name: {{firstName | uppercase }}</p>
<p>Name: {{firstName | lowercase }}</p>
<p>Salary: {{salary}} </p>
<p>Salary: {{salary | currency : 'INR' }} </p>

<h3>Data Binding</h3>
<h4>Interpolation</h4>
<p> {{salary}} </p>
<p> {{emp.fName}} </p>
<h4>Property binding</h4>
<p [innerText]="firstName"></p>
<button [disabled]="isAllowed">Click after 5 secs</button>
<br />
<h4>Event Binding</h4>
<p> Name: {{personName}} </p>
<button (click)="viewName()">Click to view name</button>
<h4>Two-way Binding</h4>
<input type="text" [(ngModel)]="personName" />
<p> Name: {{personName}} </p>
 -->

<!-- <p innerText="firstName"></p> -->