<h1>Product List</h1>

<section ngClass="product-list">
    <section ngClass="product-card" *ngFor="let product of products">
        <h4>{{ product.title }}</h4>
        <img width="50%" src="{{product.thumbnail}}" alt="">
        <button (click)="selectProduct(product)">View Details</button>
    </section>
</section>


<!-- <app-product-details [product]="selectedProduct"></app-product-details> -->

<app-product-details *ngIf="selectedProduct" (goBack)="handleClick()" [product]="selectedProduct"></app-product-details>