<h1>Login</h1>
<p>Login with Template Driven Form</p>

<form (ngSubmit)="submitLogin()">
    <div>
        <label for="username"></label>
        <input type="text" id="username" name="username" [(ngModel)]="loginData.username" required autofocus/>
    </div>
    <div>
        <label for="password"></label>
        <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>