<nav>
    <ul>
        <li><a routerLink="home">
                <img height="20px" title="Home"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Deloitte-logo-black.svg/1280px-Deloitte-logo-black.svg.png"
                    alt="deloitte logo">
            </a></li>
        <li><a routerLink="logout">Logout</a></li>
        <li><a [routerLink]="'login'">Login</a></li>
        <li><a routerLink="register">Register</a></li>
        <li><a routerLink="add-product">Add Product</a></li>
        <li><a [routerLink]="['/product-details', featuredProductId]">Featured Product</a></li>
        <li><a routerLink="products-list">Product List</a></li>
    </ul>
</nav>

<!-- <nav>
    <ul>
        <li><a href="#">
                <img height="20px" title="Home"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Deloitte-logo-black.svg/1280px-Deloitte-logo-black.svg.png"
                    alt="deloitte logo">
            </a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="#">Featured Product</a></li>
        <li><a href="products">Products</a></li>
    </ul>
</nav> -->